

<!------------------------------------------------------FAB Toolbar Button --------------------------------------------------->
<md-content>
    <md-toolbar class="md-tall md-primary">
        <h2 class="md-toolbar-tools">
            <span>
                <img  ui-sref="main.home" class="LogoStyle" src="img/logo.png" alt="Home">
            </span>

            <span flex="40" flex-offset="1" >
                 <h5 class=" engHeadFont">Cloudify the Network</h5>
            </span>

            <div flex="20">
                <img src="img/sahaabArabic.png">
            </div>
        </h2>
    </md-toolbar>
</md-content>

<div layout="row" layout-xs="column">
    <div flex-xs flex-gt-xs="50" flex-xs="100">
        <md-card>
            <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div flex-xs flex-gt-xs="50" flex-xs="100">
        <md-card>
            <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    <md-button class="btn1 md-primary">TinTin</md-button>

                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<md-button class="md-fab fabBtn md-primary md-hue-2" aria-label="Profile">
    <i class="material-icons">dehaze</i>
</md-button>
<div layout="row">
    <div flex="20">
         </div>
    <div flex="70">
        [flex="70"]
    </div>
    <div flex hide-sm hide-xs>
        [flex]
    </div>
</div>
[flex="20"]
